body{
    margin:0;
    height: 100vh;
    background-color: black;

}

span{
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-64.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;  /* which recreate the size fill the container*/
    left : 50%;
    top: 50%; 
    transform: translate(-50%,-50%);
    
}