body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f1f5f8;
    line-height: 2.2;
    font-size: 1rem;
 
}
ul{
    list-style-type: none;

}
a{
    text-decoration: none;
}
nav{
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    

}
.fa-bars{
    font-size: 1.5rem;
    color: lightblue;
    cursor: pointer;

}
.fa-bars:hover{
    color: black;
}

