@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&family=Nunito:wght@200;300;400;600;700&family=Permanent+Marker&family=Roboto:ital,wght@1,100&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: 'Roboto', sans-serif;
}
